<html>
<head>
  <title>Traget</title>
</head>
<body>

    <p><%= allant %></p>
    <p><%= enretour %></p>
    <% if (allant == '' && enretour == '') { %>
      <h1>Pas de resultat</h1>
      <% } %>
</body>
</html>
