<html>
<head>
  <title>travel easy</title>
  <script src="js/CalendarPopup.js"></script>
	<script>
  var cal1x = new CalendarPopup("testdiv1");
  </script>
</head>
<body>
  <h5 align="right"><a href="/proposer">proposer</a></h5>
  <h1>Travel easy</h1>
<hr>
<form action="/chercher" method="post">
  <input type="text" name="depart" placeholder="votre point de départ ">
  <input type="text" name="dest" placeholder="votre destination">
  <input type="date" name="date" placeholder="date">
  <input type="submit" name="submit" value="chercher">
</form>
</body>
</html>
