<html>
<head>
  <title>proposer</title>
</head>
<body>
  <h5 align="right">
    <a href="/proposer">proposer</a> <a href="/">accueil</a> <a href="/logoff">deconnection</a>
  </h5>
  <h1>proposer un traget</h1>
  <hr>
  <h1><%= user.nom %>, vous pouvez proposer un traget facilement</h1>
  <form action="/proposer" method="post">
    <table>
    <tr>
    <td><input type="text" name="depart" placeholder="d'ou partez vous"></td>
    <td><input type="text" name="dest" placeholder="votre destination"></td>
    </tr>
    <tr>
    <td><input type="date" name="allezDate" placeholder="date de départ"></td>
    <td><input type="date" name="retourDate" placeholder="date d'arrivée"></td>
    </tr>
    <tr>
      <td><input type="places" name="places" placeholder="nombre de places(4 par defaut)"></td>
      <td><input type="text" name="etape" placeholder="ville tu vas passer par"></td>
    <tr>
    <table>
      <input type="submit" name="submit">
  </form>
</body>
</html>
