<html>
<head>
  <title>proposer</title>
</head>
<body>
  <h1>proposer un traget</h1>
  <hr>
  <form action="/proposer" method="post">
    <table>
    <tr>
      <td><input type="text" name="nom" placeholder="nom"></td>
      <td><input type="prenom" name="prenom" placeholder="prenom"></td>
    </tr>
    <tr>
      <td colspan="2">
    <input type="email" name="email" placeholder="email">
      </td>
    </tr>
    <tr>
      <td><input type="text" name="num" placeholder="numero"></td>
    </tr>
    <tr>
    <td><input type="text" name="depart" placeholder="d'ou partez vous"></td>
    <td><input type="text" name="dest" placeholder="votre destination"></td>
    </tr>
    <tr>
    <td><input type="date" name="allezDate" placeholder="date de départ"></td>
    <td><input type="date" name="retourDate" placeholder="date d'arrivée"></td>
    </tr>
    <tr>
      <td><input type="places" name="places" placeholder="nombre de places(4 par defaut)"></td>
    <tr>
    <tr>
    <td><input type="url" name="facebook" placeholder="vote profil facebook"></td>
    </tr>
    <table>
      <input type="submit" name="submit">
  </form>
</body>
</html>
