<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vous avez déja</title>
  </head>
  <body>
    <h1>etes-vous <%= user.name %> ? <a href="/login">Se connecter</a> </h1>
  </body>
</html>
